Playbooks/Malware-Response/template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_Malware_Response_name": {
            "defaultValue": "Malware-Response",
            "type": "String"
        },
        "connections_azuresentinel_externalid": {
            "defaultValue": "/subscriptions/b4dd7585-284d-41b5-88d2-0b4d055b1d15/resourceGroups/Bhavanat/providers/Microsoft.Web/connections/azuresentinel",
            "type": "String"
        },
        "connections_gmail_1_externalid": {
            "defaultValue": "/subscriptions/b4dd7585-284d-41b5-88d2-0b4d055b1d15/resourceGroups/Bhavanat/providers/Microsoft.Web/connections/gmail-1",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_Malware_Response_name')]",
            "location": "centralindia",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "AdminEmail": {
                            "defaultValue": "bhavanat1298@gmail.com",
                            "type": "String"
                        },
                        "WebHookURL": {
                            "defaultValue": "https://discord.com/api/webhooks/890488115171569674/11MSlRABp3jLLp9PlGDz7nLhCx_sjA4G9wP3MEWNSlFAjZIlmgh17CiCz_Wh7Ej1flt4",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "When_a_response_to_an_Azure_Sentinel_alert_is_triggered": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/subscribe"
                            }
                        }
                    },
                    "actions": {
                        "Add_comment_to_incident_(V3)": {
                            "runAfter": {
                                "HTTP_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "incidentArmId": "@body('Alert_-_Get_incident')?['id']",
                                    "message": "<p>The message&nbsp;containing the malicious <strong>URL/attachment has been successfully deleted</strong> from the channel - @{variables('Custom_Details')['Channel'][0]}.</p>"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Incidents/Comment"
                            }
                        },
                        "Alert_-_Get_incident": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/Incidents/subscriptions/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/workspaces/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/alerts/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}",
                                "retryPolicy": {
                                    "count": 10,
                                    "interval": "PT10S",
                                    "type": "fixed"
                                }
                            }
                        },
                        "Condition": {
                            "actions": {
                                "Set_variable": {
                                    "runAfter": {},
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "Content_type",
                                        "value": true
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_variable_2": [
                                    "Succeeded"
                                ]
                            },
                            "expression": {
                                "and": [
                                    {
                                        "contains": [
                                            "@variables('Custom_Details')",
                                            "Content"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "HTTP": {
                            "runAfter": {
                                "Condition": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "body": {
                                    "avatar_url": "https://swimburger.net/media/0zcpmk1b/azure.jpg",
                                    "content": "AZURE ALERT : @{body('Alert_-_Get_incident')?['properties']?['incidentNumber']} - @{triggerBody()?['Severity']}",
                                    "embeds": [
                                        {
                                            "color": 15258703,
                                            "description": "@{body('Alert_-_Get_incident')?['properties']?['description']}",
                                            "fields": [
                                                {
                                                    "inline": true,
                                                    "name": "File/URL Shared By",
                                                    "value": "@{variables('Custom_Details')['Author'][0]}"
                                                },
                                                {
                                                    "inline": true,
                                                    "name": "Time Generated",
                                                    "value": "@{triggerBody()?['TimeGenerated']}"
                                                },
                                                {
                                                    "name": "Channel shared to",
                                                    "value": "@{variables('Custom_Details')['Channel'][0]}"
                                                },
                                                {
                                                    "name": "Malicious File/URL",
                                                    "value": "@{if(equals(variables('Content_type'),true),variables('Custom_Details')['Content'][0],substring(variables('Custom_Details')['FileName'][0],18))} "
                                                }
                                            ],
                                            "footer": {
                                                "icon_url": "https://img.icons8.com/emoji/48/000000/warning-emoji.png",
                                                "text": "The MALWARE has been deleted from the channel, please validate and ban user if required."
                                            },
                                            "image": {
                                                "url": "https://upload.wikimedia.org/wikipedia/commons/5/5a/A_picture_from_China_every_day_108.jpg"
                                            },
                                            "thumbnail": {
                                                "url": "https://upload.wikimedia.org/wikipedia/commons/3/38/4-Nature-Wallpapers-2014-1_ukaavUI.jpg"
                                            },
                                            "title": "@{triggerBody()?['AlertDisplayName']}",
                                            "url": "@{body('Alert_-_Get_incident')?['properties']?['incidentUrl']}"
                                        }
                                    ],
                                    "username": "AzureSentinelWebhook"
                                },
                                "headers": {
                                    "Accept": "application/json",
                                    "Content-Type": "application/json"
                                },
                                "method": "POST",
                                "uri": "@parameters('WebHookURL')"
                            }
                        },
                        "HTTP_2": {
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "body": {
                                    "channelid": "@{variables('Custom_Details')['ChannelID'][0]}",
                                    "messageid": "@{variables('Custom_Details')['AttachmentID'][0]}"
                                },
                                "headers": {
                                    "Content-Type": "application/json"
                                },
                                "method": "POST",
                                "uri": "https://Azure-Bot.abhishekreddypa.repl.co/delete"
                            }
                        },
                        "Initialize_variable": {
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Custom_details",
                                        "type": "object",
                                        "value": "@json(body('Parse_JSON')['Custom Details'])"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_2": {
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Content_type",
                                        "type": "boolean",
                                        "value": false
                                    }
                                ]
                            }
                        },
                        "Parse_JSON": {
                            "runAfter": {
                                "Alert_-_Get_incident": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@triggerBody()?['ExtendedProperties']",
                                "schema": {
                                    "properties": {
                                        "Alert generation status": {
                                            "type": "string"
                                        },
                                        "Analytic Rule Ids": {
                                            "type": "string"
                                        },
                                        "Analytic Rule Name": {
                                            "type": "string"
                                        },
                                        "Correlation Id": {
                                            "type": "string"
                                        },
                                        "Custom Details": {
                                            "type": "string"
                                        },
                                        "Data Sources": {
                                            "type": "string"
                                        },
                                        "Event Grouping": {
                                            "type": "string"
                                        },
                                        "ProcessedBySentinel": {
                                            "type": "string"
                                        },
                                        "Query": {
                                            "type": "string"
                                        },
                                        "Query End Time UTC": {
                                            "type": "string"
                                        },
                                        "Query Period": {
                                            "type": "string"
                                        },
                                        "Query Start Time UTC": {
                                            "type": "string"
                                        },
                                        "Search Query Results Overall Count": {
                                            "type": "string"
                                        },
                                        "Trigger Operator": {
                                            "type": "string"
                                        },
                                        "Trigger Threshold": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Send_email_(V2)_2": {
                            "runAfter": {
                                "HTTP": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "Body": "<p><span style=\"font-size: 16px\">Incident Notification</span>,<br>\n<span style=\"font-size: 14px\">You have an incident from Azure Sentinel. <br>\n</span><br>\n<span style=\"font-size: 14px\">Below is the information:</span><br>\n &nbsp;&nbsp;<strong>Alert Name</strong>: @{triggerBody()?['AlertDisplayName']}<br>\n &nbsp;&nbsp;<strong>Description</strong> : @{body('Alert_-_Get_incident')?['properties']?['description']}<br>\n &nbsp;&nbsp;<strong>Severity</strong> : @{body('Alert_-_Get_incident')?['properties']?['severity']}<br>\n &nbsp;&nbsp;<strong>Channel Affected</strong> : @{variables('Custom_Details')['Channel'][0]}<br>\n &nbsp;&nbsp;<strong>File/URL Shared By</strong> : @{variables('Custom_Details')['Author'][0]}<br>\n &nbsp;&nbsp;<strong>Malicious File/URL</strong> : @{if(equals(variables('Content_type'),true),variables('Custom_Details')['Content'][0],substring(variables('Custom_Details')['FileName'][0],0,18))}<br>\n &nbsp;&nbsp;<strong>Time</strong> : &nbsp;@{body('Alert_-_Get_incident')?['properties']?['createdTimeUtc']}<br>\n<br>\nPlease review and do the needful.<br>\nMore info can be found in Azure Sentinel : <br>\n@{body('Alert_-_Get_incident')?['properties']?['incidentUrl']}</p>",
                                    "Subject": "AZURE ALERT : @{body('Alert_-_Get_incident')?['properties']?['incidentNumber']} - @{triggerBody()?['Severity']}",
                                    "To": "@parameters('AdminEmail')"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['gmail']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[parameters('connections_azuresentinel_externalid')]",
                                "connectionName": "azuresentinel",
                                "id": "/subscriptions/b4dd7585-284d-41b5-88d2-0b4d055b1d15/providers/Microsoft.Web/locations/centralindia/managedApis/azuresentinel"
                            },
                            "gmail": {
                                "connectionId": "[parameters('connections_gmail_1_externalid')]",
                                "connectionName": "gmail-1",
                                "id": "/subscriptions/b4dd7585-284d-41b5-88d2-0b4d055b1d15/providers/Microsoft.Web/locations/centralindia/managedApis/gmail"
                            }
                        }
                    }
                }
            }
        }
    ]
}